{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /final
-->
{% endblock %}
{% block title %}CS189 Final{% endblock %}

{% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">Spring 2017 CS189 at UC Berkeley</p>
                <h1 class="head-title">Final</h1>
                <p class="head-subtitle">Thursday, May 11, 3-6 p.m.</p>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="logistics">
                <a href="#logistics">Logistics</a>
            </h2>
            <div class="copy">
                <ul>
                    <li><b>Date and Time:</b> Thursday, May 11, 3-6 p.m.</li>
                    <li><b>Locations:</b>
                        <ul>
                            <li>Evans 10 (Sections 101-107)</li>
                            <li>Pauley Ballroom (Sections 108-124)</li>
                        </ul>
                    </li>
                    <li><b>3</b> sheets (front and back) of hand written notes are allowed.</li>
                    <li>Bring your Cal ID.</li>
                    <li>No calculators are allowed.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="topics">
                <a href="#topics">Topics</a>
            </h2>
            <div class="copy">
                <p>The exam is cumulative, with approximately double the number of questions on post-midterm material.</p>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="preparation">
                <a href="#preparation">Preparation</a>
            </h2>
            <div class="copy">
                <p>During dead week, the staff will host events during regular lecture times.</p>
                <ul>
                    <li><b>Review Lecture</b> Tuesday, May 2, 12:30 - 2 p.m. in Pauley Ballroom</li>
                    <li><b>Guerrilla Section</b> Wednesday, May 3, 2-5 p.m. in Woz Lounge</li>
                    <li><b>Problem-Based Review</b> Thursday, May 4, 12:30 - 2 p.m. in Pauley Ballroom</li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}