{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /midterm2
-->
{% endblock %}
{% block title %}CS189 Midterm 2{% endblock %}

{% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">Spring 2017 CS189 at UC Berkeley</p>
                <h1 class="head-title">Midterm 2</h1>
                <p class="head-subtitle">Thursday, April 6, 7-9 p.m.</p>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="logistics">
                <a href="#logistics">Logistics</a>
            </h2>
            <div class="copy">
                <ul>
                    <li><b>Date and Time:</b> Thursday, April 6, 7-9 p.m.</li>
                    <li><b>Locations:</b> Dwinelle 145, Dwinelle 155, Evans 10, VLSB 2040, VLSB 2050, VLSB 2060
                    </li>
                    <li><b>2</b> sheets (front and back) of hand written notes are allowed.</li>
                    <li>Bring your Cal ID.</li>
                    <li>No calculators are allowed.</li>
                    <li><b>No lecture the day of the exam, <b>but Professor Rao will be holding office hours</b> during regular lecture times.</b></li>
                    <li>All discussions Thursday and Friday will be converted into office hours.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="topics">
                <a href="#topics">Topics</a>
            </h2>
            <div class="copy">
                <p>The exam will focus on Notes 7 through 19. However, we will
                assume your familiarity with topics covered in midterm 1.</p>
                <ul>
                    <li>Bijections/RSA</li>
                    <li>Polynomials</li>
                    <li>Error Correcting Codes</li>
                    <li>Infinity and Uncountability</li>
                    <li>Self-Reference and Uncomputability</li>
                    <li>Counting</li>
                    <li>Introduction to Discrete Probability</li>
                    <li>Conditional Probability</li>
                    <li>Two Killer Applications</li>
                    <li>Random Variables: Distribution and Expectation</li>
                    <li>Variance</li>
                    <li>Chebyshev's Inequality</li>
                    <li>Some Important Distributions</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="preparation">
                <a href="#preparation">Preparation</a>
            </h2>
            <div class="copy">
                <p>The staff will be hosting three events over the weekend. During Tuesday lecture, Professor Rao will have review lecture and during Thursday lecture, Professor Rao will have office hours.</p>
                <ul>
                    <li><b>Midterm 2 Review Session</b> Monday, April 3, 6 - 8:30 p.m. in HP Auditorium</li>
                    <li><b>Guerrilla Section</b> Sunday, April 2, 7 - 10 p.m. in HP Auditorium</li>
                    <li><b>Weekly Review Lecture</b> Sunday, April 2, 10 - 11:30 a.m. in Soda 405</li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}