{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /midterm2
-->
{% endblock %}
{% block title %}CS W182 / 282A Midterm 2{% endblock %}

{% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">Spring 2021 CS W182 / 282A at UC Berkeley</p>
                <h1 class="head-title">Midterm 2</h1>
                <p class="head-subtitle">Monday, April 12, format TBA.</p>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="logistics">
                <a href="#logistics">Logistics</a>
            </h2>
            <div class="copy">
                <ul>
                    <li><b>Date and Time:</b> Monday, April 12, format TBA.</li>
                    <li>Information regarding the exam format and exam resources will be released shortly.</li>
                    <li>DSP will receive an email from the course staff. Contact (cs-182-sp21-staff at googlegroups.com) if you do not receive an email by Wednesday, April 7 at 10 p.m.</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="topics">
                <a href="#topics">Topics</a>
            </h2>
            <div class="copy">
                <p>The exam will cover materials from week 8 to week 12.</p>
                <ul>
                    <li>TBA</li>
                </ul>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="preparation">
                <a href="#preparation">Preparation</a>
            </h2>
            <div class="copy">
                <p>Please see the pinned Piazza post, "Midterm 2 Resources".</p>
            </div>
        </div>
    </section>
</main>
{% endblock %}