{% extends "layouts/base.html" %}
{% block top %}
<!--
redirect_from: /resources
-->
{% endblock %}
{% block title %}CS W182 / 282A Resources{% endblock %}

{% block body %}
<main class="index-page">
    <section class="page-head wrap-container">
        <div class="wrap">
            <div class="head-decor">
                <p class="head-subtitle">CS W182 / 282A at UC Berkeley</p>
                <h1 class="head-title">Resources</h1>
            </div>
        </div>
        <div class="copy">
            <p>The primary resources for this course are the lecture notes,
                discussion worksheets, and homework assignments on
                <a href="/">the front page</a>.</p>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="videos">Videos</h2>
            <p>{{ syllabus.videos.short }}</p>
            <ul class="lists two-col">
                {% for video in videos %}
                <li><a href="{{ video.url }}">{{ video.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="latex">LaTeX</h2>
            <div class="copy">
                <p>The link below teaches you how to get LaTeX set up.</p>
                 
                <p>
                    <a href="http://www.ling.upenn.edu/advice/latex/pc-setup.html">www.ling.upenn.edu/advice/latex/pc-setup.html</a>
                </p>
                 
                <p>The followings are links to my favorite LaTeX tutorial. They
                    cover the most basic to slightly advanced LaTeX, which you
                    may need in this course.</p>
                 
                <ul> 
                    <li>
                        <a href="https://www.overleaf.com/latex/learn/free-online-introduction-to-latex-part-1#.Vd6sv7S57BI">https://www.overleaf.com/latex/learn/free-online-introduction-to-latex-part-1</a>
                    </li>
                    <li>
                        <a href="https://www.overleaf.com/latex/learn/free-online-introduction-to-latex-part-2">https://www.overleaf.com/latex/learn/free-online-introduction-to-latex-part-2</a>
                    </li>
                    <li>
                        <a href="https://www.overleaf.com/latex/learn/free-online-introduction-to-latex-part-3">https://www.overleaf.com/latex/learn/free-online-introduction-to-latex-part-3</a>
                    </li>
                </ul>
                     
                    <p>If you get stuck, Stack Overflow may be one of your best
                        friends.</p>
            </div>
        </div>
    </section>
    <section class="standard-text wrap-container">
        <div class="wrap">
            <h2 class="standard-title" id="tips">Tips</h2>
            <p>{{ syllabus.tips.short }}</p>
            {% for tip in syllabus.tips.all %}
            <h3>{{ tip.title }}</h3>
            <p>{{ tip.copy }}</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
