footer.footer-links {
    padding:3em 0 5em 0;

    h3 {
        font-size:1.5em;
        font-weight:300;
        font-family:'Raleway';
        color:#000;
        margin-bottom:1em;

        a {
            color:inherit;
            border-bottom:1px solid transparent;
        }

        a:hover {
            border-bottom:1px solid #000;
            text-decoration:none;
        }
    }

    ul {
        li {
            color:#888;
            font-size:1em;
            padding:0.25em 0;

            a {
                border-bottom: 1px solid transparent;
            }

            a:hover {
                color:#000;
            }
        }
    }
}