
.page-head {
    margin:3em 0 2em 0;

    p {
        margin-bottom:0;
    }
    .head-subtitle {
        font-family: 'Work Sans';
        font-size:1.2em;
    }
    .head-title {
        font-family: 'Raleway';
        font-weight: 300;
        font-size:3em;
        padding:0;
        margin:0.25em 0;
    }

    .head-people {
        margin:2em 0;
    }
}